extends layout

block content
  h1= title
  p ここでは作成したtodoを管理できます
  div
  if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        h3 レベル: #{user.level}
        h3 トータル経験値: #{user.totalExperiencePoints}
        h3 レベルアップ時の経験値: #{user.nextLevelExperiencePoints}
      - var exp = user.nextLevelExperiencePoints - user.totalExperiencePoints
        h3 次のレベルまで: #{exp}
      div
        h3 新しいtodoを作成
        form(method="post", action="/todos/new")
          div
          h5 タスク名
          input(type="text" name="title")
          h5 説明
          textarea(name="description")
          div 
          button(type="submit") todoを作成
          
      - var hasTodo = todos.length > 0
      - var testFlag = false 
      if hasTodo 
        h3 #{user.username}が作ったtodo一覧
        table.table
          tr
            th 予定名
            //- th 作成日時
            th 説明
          each todo in todos
            tr
                td
                  a(href=`/todos/${todo.todoId}`) #{todo.title}
                td #{todo.description}
            tr
                form(action=`/todos/update/${todo.todoId}`, method="post")
                  if todo.isFinish
                    td 
                      button(type="submit") 戻す
                  else 
                    td 
                      button(type="submit") 完了にする
                
                form(action=`/todos/edit/${todo.todoId}`, method="get")
                  td 
                    button(type="submit") 編集
                    
                form(action=`/todos/delete/${todo.todoId}`, method="post")
                  td 
                    button(type="submit") 削除
                //- td #{todo.createdDate}
                //- form(action=`/todos/update/${todo.todoId}`, method="post")
                //-   if todo.isFinish
                //-     button(type="submit") 戻す
                //-   else 
                //-     button(type="submit") 完了にする
                  //- td #{todo.discription}
  else
      div
        a(href="/login") ログイン